@import 'https://fonts.googleapis.com/css?family=Roboto';

.hidden {
	opacity: 0;
	display: none;
}

body {
	width: 100%;
	position: relative;
	color: #ccc;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #222;
	font-family: 'Roboto', sans-serif;
}

canvas {
	margin: 10px auto 20px;
	display: inline-block;
	box-shadow: 0 0 2px 2px #ddd;
	background: #fff;
}

h1 {
	margin: 20px auto 0;
	color: #52bbae;
}

.green {
	color: #52bbae;
}

.red {
	color: #bf4040;
}

.grey {
	color: #444;
}

p {
	color: #ccc;
}

a {
	color: #52bbae;	
}

.row {
	max-width: 780px;
	margin: auto;
	overflow: auto;
}

.col-left {
	float: left;
	padding-top: 20px;
}

.col-right {
	float: right;
}

#score, #level {
	font-size: 22px;
}

#game-keeper {
	text-align: left;
}


.btn {
	transition: color 0.5s ease;
	cursor: pointer;
	padding: 4px;
	font-size: 14px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.btn:hover {
	color: #fff;
}

#game-canvas {
	position: relative;
}

/*#btn-start {
	position: absolute;
	width: 118px;
	height: 58px;
	line-height: 58px;
	background: #222;
	left: 0;
	right: 0;
	top: 411px;
	margin: auto;
	cursor: pointer;
}*/